.bg-button-Add {
    background: url('../assets/plus.png');
    background-size: 1.475em;
    width: 3.625em;

    /* border: 6px solid #FDFFFC; */
}

.bg-button-Remove {
    background: url('../assets/plus.png');
    background-size: 1.475em;
    width: 3.625em;
    transform: rotate(45deg);

    /* border: 6px solid #FDFFFC; */
}

.bg-button-GoBack {
    background-image: url('../assets/previous.png');
    background-size: 1.475em;
    width: 3.625em;

    /* border: 6px solid #FDFFFC; */
}