.bg-button-Add {
    background: url('../assets/plus.png');
    background-size: 30px;
    width: 68px;

    /* border: 6px solid #FDFFFC; */
}

.bg-button-Remove {
    background: url('../assets/plus.png');
    background-size: 30px;
    width: 68px;
    transform: rotate(45deg);

    /* border: 6px solid #FDFFFC; */
}

.bg-button-GoBack {
    background-image: url('../assets/previous.png');
    background-size: 30px;
    width: 68px;

    /* border: 6px solid #FDFFFC; */
}

.bg-button-Navigate {
    background-image: url('../assets/previous.png');
    background-size: 30px;
    transform: rotate(180deg);
}