.bg-button-bg1 {
    background-image: url("../assets/jouranls-icon.png");

}

.bg-button-bg2 {
    background-image: url("../assets/tasks-icon.png");
}

.bg-button-bg1,
.bg-button-bg2 {
    background-size: 29px 26px;
    background-position-y: 14px;
    background-position-x: center;
    text-align: center;
}

.myactive {
    background-color: bg-myLightDark;
}